.element1 {
    background-color: #4d455d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}
.element1 .background {
    background-color: #FFFFFF;
    height: 100vw;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}
.element1 .registter {
    left: 43% !important;
    position: absolute !important;
    top: 58% !important;
  }
.element1 .textBack {
    color: #4d455d;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
}

.element1 .overlap {
    height: 459px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 100%;
  }
  
  .element1.overlap-group {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .element1 .rectangle-2 {
    height: 40%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .element1 .backgroundpc {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  :where(.css-dev-only-do-not-override-1vr7spz).ant-image {
    position: absolute;
    display: inline-block;
    HEIGHT: 100%;
    width: 100%;
}
  .element1 .profilepc {
    border-radius: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  #gom:where(.css-dev-only-do-not-override-1vr7spz).ant-image .ant-image-mask {
    border-radius: 100%;
}
  .element1 .ellipse {
    background-color: #e9eaef;
    border-radius: 100%;
    height: 35%;
    left: 10%;
    position: absolute;
    top: 20%;
    width: 12%;
  }
  
  .element1 .name-lastname {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 25%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 32%;
  }
  
  .element1 .ininformation {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 27%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 41%;
  }
  .element1 .courselist {
    color: #4d455d;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight:600;
    left: 5%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3%;
  }
  .element1 .rectangle-3 {
    background-color: #F0F3F8;
    height: 100%;
    left: 0;
    position: absolute;
    top: 30%;
    width: 100%;
  }

/* .element1 .content1 {
    height: 25%;
    position: absolute;
    width: 15%;
} */

#gps1{
    left: 10%;
    position: absolute;
    top: 7%;
}
#gps2{
    left: 32%;
    position: absolute;
    top: 7%;
}
#gps3{
    left: 54%;
    position: absolute;
    top: 7%;
}
#gps4{
    left: 77%;
    position: absolute;
    top: 7%;
}

.element1 .card-container {
  position: absolute;
  left: 7%;
  top: 7%;
  height: 60%;
  width: 90%;
}

