.colourP{
  color: #E96479;
}
.layoutAD1{
  position: absolute;
  background-color: white;
}
:where(.css-dev-only-do-not-override-amq5gd).ant-layout .ant-layout-header, :where(.css-dev-only-do-not-override-amq5gd).ant-layout.ant-layout-footer {
  flex: 0 0 auto;
  width: 100vw;
  }
.button {
    position: absolute;
    background-color: #E96479;
    size: 24;
    right: 225px;
    top: 950px;
    z-index: 4;
}
.search{
  position: absolute;
  top: 18px;     
  left: 120px;   
  z-index: 1;     
  color: #E96479;
}
.Exploer{
  left: 220px;
}
.SkillFlex {
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  top: -3px;
  display: flex;
  align-self: center;
}
.SkillFlex .skill {
  color: rgb(50, 50, 50);
}
.SkillFlex .flex {
  color: #E96479;
}
.colourBG{
  background:#4D455D ;
}
.colourB{
  color: #4D455D;
}
.tabselect{
  font-weight: 500;
  font-size: 50;
  color: #4D455D;
}
.welcome{
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.rectangle-card {
  background-color: #F0F3F8;
  color: 'navy'; 
  z-index: 1;
}
.rectangle1 {
  position: absolute;
  background-color: #7DB9B6;
  top: 190px;
  left: -0px;
  z-index: 2;
}
.rectangle2 {
  position: absolute;
  background-color: #E1E7F0;
  top: 247px;
  left: -57px;
  z-index: 3;
}
.rectangle3 {
  position: absolute;
  background-color: white;
  top: 300px;
  left: -40px;
  z-index: 4;
}
#request  :where(.css-dev-only-do-not-override-19owb4h) a {
  color: red;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}