.colourP{
    color: #E96479;
  }
  
  .layout{
    position: absolute;
    background-color: white;
  }
  
  .search{
    position: absolute;
    top: 18px; /* ตั้งค่าให้ช่องค้นหาอยู่ด้านบนสีชมพู */
    left: 120px; /* ตั้งค่าให้ช่องค้นหาอยู่ด้านขวาสุด */
    z-index: 1; /* กำหนดลำดับการแสดงผลเพื่อให้ช่องค้นหาอยู่เหนือสีชมพู */
  }
  
  .Exploer{
    left: 220px;
  }
  .SkillFlex {
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    top: -3px;
    display: flex;
    align-self: center;
  }
  
  .SkillFlex .skill {
    color: rgb(50, 50, 50);
  }
  .SkillFlex .flex {
    color: #E96479;
  }
  
  .colourBG{
    background:#4D455D ;
  }
  .colourB{
    color: #4D455D;
  }
  
  .tabselect{
    font-weight: 500;
    font-size: 50;
    margin-left: 70px;
  }
  .welcome{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
  }
  

  
  